@import 'nib'
@import './iconfont.css'

cardinal = #8c1515
red = #e44949
blue = #6fc9ed
yellow = #ffdd59

font-size-sm = 14px
font-size-md = 18px
font-size-ml = 22px
font-size-lg = 28px
font-size-xl = 48px

*, *:before, *:after
  box-sizing border-box

a, a:hover, a:active, a:focus, a:visited
  color inherit
  text-decoration none
  outline none

html, body
  height 100%

container-width = 1350px

body
  font-size 16px
  font-family 'Source Sans Pro', sans-serif
  margin 0
  min-width container-width
  color #fff
  font-size font-size-md
  min-height 800px

.container
  width container-width
  margin 0 auto
  padding 0 30px

rotate-angle = 2deg

header
  background red
  padding 50px 0
  position relative
  height 228px

  &:before
    content ''
    display block
    background linear-gradient(top, rgba(cardinal, .75), transparent)
    absolute bottom left (-100px)
    width calc((100% - 1350px) / 2 + 100px + 420px)
    height 200%
    transform rotate(rotate-angle)
    transform-origin bottom left

  .container
    position relative
    z-index 10

  img.logo
    width 310px

  .tagline
    margin-top 25px
    font-size font-size-lg
    font-weight 300

  .right
    absolute top -4px right 30px
    .login
      text-align right
    nav
      margin-top 15px
      font-size font-size-ml
      letter-spacing 0.5px
    .nav-link
      display inline-block
      margin-right 45px
    .icon-search
      font-size .8em
    .nav-link, .login, .icon-search
      transition opacity .25s
      cursor pointer
      &:hover
        opacity .75

#content
  height calc(100% - 228px) // header height = 228px
  #news, #events
    height 100%
    float left
  #news
    width calc((100% - 1350px) / 2 + 9 * 110px - 30px)
  #events
    width calc((100% - 1350px) / 2 + 3 * 110px + 60px)

#news
  position relative
  overflow hidden
  &:before
    content ''
    display block
    background red
    absolute top (-200px) left
    width 120%
    height 200px
    transform rotate(rotate-angle)
    transform-origin bottom left

  background-image url(../assets/news.png)
  background-size cover
  background-position 50% 50%

  .text
    absolute bottom right 500px
    width 9 * 110px - 30px - 500px
    cursor pointer
    transition color .25s
    &:hover
      color rgba(#fff, .75)
  .content
    display inline-block
    background rgba(yellow, .9)
    padding 20px
    line-height 1.5
  .title
    font-size font-size-xl
    .content
      padding-bottom 10px
  .subtitle
    font-style italic
    .content
      max-width 80%
      font-weight 300
      padding-top 10px

#events
  background blue
  .event
    height calc((100% - 63px) / 3)
    position relative
    .content
      absolute top 50% left 30px
      width 3 * 110px
      transform translateY(-50%)
    &:nth-child(2)
      background rgba(#fff, .1)
    &:nth-child(3)
      background rgba(#fff, .2)
    .meta-1, .meta-2
      font-weight 300
      *
        display inline-block
        margin-right 15px
    .meta-1
      text-transform uppercase
      font-size font-size-sm
      letter-spacing 1px
    .title
      font-size font-size-ml
      font-weight 600
      margin 10px 0
  .more
    background rgba(#fff, .3)

  .event, .more
    padding 20px 30px
    cursor pointer
    transition color .25s
    &:hover
      color rgba(#fff, .75)
