extends layout

block content
  body#home
    +header(true)

    #home-content
      #news
        .text
          .title: a(href='news.html'): .content Smart telescope unveils the unseen
          .subtitle: a(href='news.html'): .content Stanford Computer Vision Lab invites you to see the other side of the world from your room

      #events
        .event
          .content
            .meta-1
              .date September 25
              .time 12:30 pm
              .location Gates B01
            .title Context, or, How to trick your users into thinking you're a genius
            .meta-2
              .speaker Darius Kazemi
              .series HCI Seminar
        .event
          .content
            .meta-1
              .date October 7
              .time 12:15 pm
              .location Gates 104
            .title BlindBox: Deep Packet Inspection over Encrypted Traffic
            .meta-2
              .speaker Raluca Ada Popa
              .series Networking Seminar
        .event
          .content
            .meta-1
              .date November 3
              .time 4:15 pm
              .location Gates 463
            .title Privacy in a Data-Driven World
            .meta-2
              .speaker Roxana Geambasu
              .series Security Seminar
        .more More events
